.card{
    width: 15rem;
}
.Allcards{
    width: 100vw;
    background-color: black;
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    flex-wrap: wrap;
}
.allcardimg{
    height: 100%;
    width: 100%;
}
